.empty-item {
    background: rgba(230,230,230,0.46);
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.2), inset -6px -6px 10px rgba(255, 255, 255, 0.5);
    min-height: 50px;
    min-width: 100%;
}

#app-builder {
    background-color: #f4f4f4;
    height: 100%;
}