/*
    Sticky block styles
*/
.picked-up-block {
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    position: absolute;
    transition: transform 0.13s ease;
    z-index: 1000;
}
.picked-up-block > .overlay {
    width: 200px;
    height: 200px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1266/1266442.png");
    background-size: cover;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}
.picked-up-block > span {
    padding-left: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    color: rgb(111, 108, 153);
}


/*
    Context menu styles
*/
.context-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: 400px;
    overflow: auto;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgb(111, 108, 153);
    padding: .6rem;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease;
    gap: .3rem;
    background-color: #f8f8ff
}

.context-menu > button{
    display: flex;
    width: 100%;
}

.selected {
    box-shadow: 0 0 10px rgb(111, 108, 153);
}