.empty-item {
    min-height: 50px;
    min-width: 100%;
}

.editor-item {
    transition: all .2s;
}

.blocked {
    background-color: rgba(255, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
}

.editor-container-item:has(.editor-container-item) {
    padding: .5rem;
}

.editor-container-item {
    border-radius: .5rem;
    border: 2px dashed #7b7bfe;
    padding: .5rem;
}

.editor-container-item.selected {
    border: 2px dashed #373772FF;
}

.editor-item:not(.editor-container-item).selected {
    border-radius: .5rem;
    box-shadow: 0 0 5px #373772FF;
}

#app-builder {
    background-color: #f4f4f4;
    height: 100%;
}